.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 3vmin;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(5px + 1vmin);
  color: red;
}

.App-body {
  margin: 3vmin;
}

.Body-p {
  margin: 3vmin;
  padding-top: 2vmin;
  padding-bottom: 50vmin;
}

.HR-red {
  height: 2px;
  background-color: red;
  margin: 0 15px;
}

.App-link {
  color: #ffffff;
}

.App-footer {
  font-style: italic;
  text-align: center;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
